@import "icons/icons.css";

/* only show close button on highlighted tab */
.tab-close-button {
    visibility: hidden !important;
}

.tab-close-button[selected="true"] {
    visibility: visible !important;
}

/* custom tab containers */
#tabbrowser-tabs .tab-context-line {
    display: none;
}

#tabbrowser-tabs .tab-background {
    border-right: solid 2px var(--identity-icon-color) !important;
    border-left: solid 2px var(--identity-icon-color) !important;
    transition: all .15s ease-in-out !important;
}

#tabbrowser-tabs .tab-background[selected="true"] {
    border-right: solid 4px var(--identity-icon-color) !important;
    border-left: solid 4px var(--identity-icon-color) !important;
}

/* fix menus */
menuseparator {
    border-color: var(--panel-separator-color, #50505090) !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    /*border-image: var(--panel-separator-zap-gradient) 1 !important;*/
    /*border-image: linear-gradient(165deg, #d02f85ee 0%, #b336fcee 8%, #3567fdee 40%, #4e7afdee 60%,#4e89fdee 70%, #d02f85ee 100%) 1 !important;*/
}

menupopup {
    background: var(--gradient) !important;
    border-radius: 6px !important;
}

#PlacesToolbar menupopup {
    padding: 0px !important;
}

#PlacesToolbar menupopup menupopup {
    margin-inline-start: 0px !important;
}

.menupopup-arrowscrollbox {
    background: var(--arrowpanel-background, #50505090) !important;
    background-color: var(--arrowpanel-background, #50505090) !important;
    color: var(--arrowpanel-color, #50505090) !important;
    border: 1px solid transparent !important;
    border-radius: 6px !important;
    margin: 0px !important;
    background-clip: padding-box !important;
    /*ColorFondoAlPasarElMouseSobreItems*/
    --menuitem-hover-background-color: color-mix(in srgb, var(--button-hover-bgcolor) 95%, var(--organizer-color, var(--arrowpanel-color))) !important;
}

.menupopup {
    --panel-color: var(--arrowpanel-color, FieldText) !important;
    /*ColorLetrasDelMenú*/
    --panel-border-color: var(--arrowpanel-border-color, Field) !important;
    /*bordeMenú*/
    --panel-background: var(--arrowpanel-background, Field) !important;
    /*FondoMenú*/
    --menu-color: var(--arrowpanel-color, FieldText) !important;
    /*ColorLetrasAlPasarElMouseSobreItems*/
    --menu-border-color: var(--panel-separator-color, Field) !important;
    /*LineaSeparadoraItems*/
}

/* remove the "search with ___" text from the search bar */
.urlbarView-row[type=search] :is(.urlbarView-action, .urlbarView-title-separator) {
    display: none
}

/* remove bookmark and container icons from the search bar */
#star-button-box,
#pageAction-urlbar-_testpilot-containers {
    display: none !important
}

/* remove the bottom left status bar */
#statuspanel {
    display: none !important;
}

/* Disable Email Image/Audio/Video context menu items */
#context-sendimage,
#context-sendvideo,
#context-sendaudio {
    display: none !important;
}
